.main {
	margin: 4% 20% 4% 20%;
	background: #F2F2F2;
	border-radius: 2px;
}

.login {
	margin: 30px 30% 30px 30%;
	background: #F2F2F2;
	border-radius: 2px;
}

.header img {
	width: 40%;
	margin: 30px 30% 30px 30%;
}

.strong {
	font-weight:bold !important;
}

.shadow-text {
	text-shadow: 2px 2px 8px #212;
}

p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
}

.box {
	margin: 5%;
}

.profile {
	width: 100px;
	height: 100px;
}

.profile-edit {
	width: 150px;
	height: 150px;
}

.ver {
	vertical-align:middle !important;
}

.inputbox {
	margin: 3% 20% 10% 20%;
}

.sticky-note {
	height: 200px !important;
	font-weight: bold;
	font-size: large !important;
}

.italic {
	font-style:italic;
}

table.ver td{
	vertical-align:middle !important;
}

.section-header {
	border-bottom: solid 1px #eee;
}

.margin-top-10 {
	margin-top: 10px;
}

.last-activity {
	border-bottom: 1px #FFF dotted;
	padding-left: 3px;
	padding-right: 3px;
}

.underline-dotted {
	border-bottom: 1px #EEE dotted;
}

.total {
	border-top: 4px double #000 !important;
}

.border-bottom-sti {
	border-bottom: 5px solid #ffea00;
}

.footer, .border-top-sti {
	border-top: 5px solid #ffea00;
}

#content {
	padding-bottom: 70px !important;
}

.login-border {
	border-top: 5px solid #ffea00;
	border-bottom: 5px solid #ffea00;
}

.header {
	border-bottom: 1px solid #EEE;
}

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


.btn-send,
.btn-send:active,
.btn-send.active,
.btn-send[disabled],
fieldset[disabled] .btn-send {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-send,
.btn-send:hover,
.btn-send:focus,
.btn-send:active {
  border-color: transparent;
}
.btn-send:hover,
.btn-send:focus {
  text-decoration: underline;
  background-color: transparent;
}
.btn-send[disabled]:hover,
fieldset[disabled] .btn-send:hover,
.btn-send[disabled]:focus,
fieldset[disabled] .btn-send:focus {
  text-decoration: none;
}

i.send {
	padding: 0px !important;
}

.height-100 {
	height: 100px !important;
}


div.copyright-footer {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}